<app-loading *ngIf="isLoading$ | async"></app-loading>
<app-error-message *ngIf="error$ | async"></app-error-message>

<div class="" *ngIf="feeds$ | async">
  <div class="article-preview" *ngFor="let article of (feeds$ | async)?.articles">
    <div class="article-meta">
      <a href="" [routerLink]="['/profile', article.author.username]">
        <img [src]="article.author.image" [alt]="article.author.username">
      </a>
      <div class="info">
        <a href="" [routerLink]="['/profile', article.author.username]">
          {{article.author.username}}
        </a>
        <span>{{article.createdAt}}</span>
      </div>
      <div class="pull-xs-right">
        <app-add-to-favorites [isFavorited]="article.favorited" [favoritesCount]="article.favoritesCount"
          [articleSlug]="article.slug">
        </app-add-to-favorites>
      </div>
    </div>
    <a [routerLink]="['/articles', article.slug]" class="preview-link">
      <h1>{{article.description}}</h1>
      LIST OF TAGS
      <app-tag-list [tags]="article.tagList"></app-tag-list>
    </a>
  </div>

  <app-pagination [total]="(feeds$ | async).articlesCount" [limit]="limit" [url]="baseUrl" [currentPage]="currentPage">
  </app-pagination>
</div>
